body {
        overflow-x:hidden;
	margin: 0px;
	padding: 0px;
	color: #083d4a;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 13px;
	line-height: 1.5em; 
}



a, a:link, a:visited { color: #083d4a; text-decoration: none; }

p { margin: 0px; padding: 0; }
img { border: none; }

h1, h2, h3, h4, h5, h6 { color: #083d4a; }
h1 { font-size: 50px; font-weight: normal; margin: 0 0 30px 0; padding: 5px 0; }
h2 { font-size: 28px; font-weight: normal; margin: 0 0 30px 0; padding: 0; color: #083d4a; }
h3 { font-size: 21px; margin: 0 0 15px 0; padding: 0; padding: 0; font-weight: bold; }
h4 { font-size: 18px; margin: 0 0 15px 0; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px 0; padding: 0; }
h6 { font-size: 13px; margin: 0 0 5px 0; padding: 0; }

#wrapper {
   	width: 1028px;
	margin: 0 auto;
	border: 5px solid #fff;
	border-top: none;
        background-color: #fff;
}

#wrapper2 {
    width: 1028px;
    margin: 0 auto;
    border-top: none;
    background-color: #fff;
}

#header {
	width: 1028px;
	height: 390px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

#header2 {
	width: 1028px;
	height: 150px;
        background-color: #fff;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

#header  #title {
	float: left;
	width: 210px;
	padding-top: 25px;
	padding-left: 8px;
        font-family: 'Jura', sans-serif;
}

#header  #title h1{
    font-size: 65px;
}

#header2  #title {
	float: left;
	width: 210px;
	padding-top: 25px;
	padding-left: 8px;
        font-family: 'Jura', sans-serif;
}

#header2  #title h1{
    font-size: 65px;
}

/* menu */

#header_menu {
	float: right;
	width: 600px;
	margin-top: 40px;
	margin-right: 20px;
	display: inline-block;
}

#header_social {
	float: right;
	width: 600px;
	position: absolute;
        margin-left: 720px;
        margin-top: 110px;
}

#about{
    margin: 30px;
    text-align:justify;
    font-size:medium;
    height: 600px;
}

#about p a { color: #083d4a; text-decoration: underline; }

#about p a:link { color: #083d4a; text-decoration: underline; }

#about p a:visited { color: #083d4a; text-decoration: underline; }

#header_locale {
	float: right;
	width: 800px;
	position: absolute;
        margin-left: 970px;
}

#header_back {
	float: right;
	position:fixed;
        margin-top: 20px;
        margin-left: 850px;
        font-weight: 12px;
        
}


#header_menu ul {
	float: right;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
}

#header_menu ul li {
	padding: 0;
	margin: 0;
	display: inline-block;
}

#header_menu ul li a {
	float: left;
	display: block;
	padding: 5px 0 5px 25px;
	font-size: 16px;
	margin-left: 15px;
	color:#083d4a;	
	text-decoration: none;
	font-weight: bold;
	outline: none;
}
/* end of menu */


#middle p {
	font-size: 20px;
	line-height: 1.2em;
	color: #f7e374;
	margin-bottom: 20px;
}

#middle_first{
    position:absolute;
    width: 620px;
    margin-left: 30px;
    margin-top: 135px;
}

#middle_first2{
           width: 520px;
           padding-left: 3%;
}

#middle_first2 table {
        background-color: #fff;  
        background-image: -moz-linear-gradient(top, #fff, lightgrey);
        background-image: -webkit-linear-gradient(top, #fff, lightgrey);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(lightgrey));
        background-image: -ms-linear-gradient(top, #fff lightgrey);
        background-image: -o-linear-gradient(top, #fff, lightgrey);
        background-image: linear-gradient(top, #fff, lightgrey);
        box-shadow: inset 0px 0px 0px 1px grey;
        border-radius: 10px;

}

#middle_first3{
           width: 1028px;
           padding-left: 30px;
           padding-right: 30px;
}

#middle_first3 table {
        background-color: #fff;  
        background-image: -moz-linear-gradient(top, #fff, lightgrey);
        background-image: -webkit-linear-gradient(top, #fff, lightgrey);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(lightgrey));
        background-image: -ms-linear-gradient(top, #fff lightgrey);
        background-image: -o-linear-gradient(top, #fff, lightgrey);
        background-image: linear-gradient(top, #fff, lightgrey);
        box-shadow: inset 0px 0px 0px 1px grey;
        padding: 10px 10px 10px 10px;
        border-radius: 10px;

}

#middle_first4{
           width: 500px; 
           padding-left: 10px;
           padding-right: 30px;
}

#middle_first4 table {
        width: 100%;
        background-color: #fff;  
        background-image: -moz-linear-gradient(top, #fff, lightgrey);
        background-image: -webkit-linear-gradient(top, #fff, lightgrey);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(lightgrey));
        background-image: -ms-linear-gradient(top, #fff lightgrey);
        background-image: -o-linear-gradient(top, #fff, lightgrey);
        background-image: linear-gradient(top, #fff, lightgrey);
        box-shadow: inset 0px 0px 0px 1px grey;
        padding: 10px 10px 10px 10px;
        border-radius: 10px;

}

#middle_first table {
        padding: 10px 10px 10px 20px;
         background-color: #fff;  
        background-image: -moz-linear-gradient(top, #fff, lightgrey);
        background-image: -webkit-linear-gradient(top, #fff, lightgrey);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(lightgrey));
        background-image: -ms-linear-gradient(top, #fff lightgrey);
        background-image: -o-linear-gradient(top, #fff, lightgrey);
        background-image: linear-gradient(top, #fff, lightgrey);
        box-shadow: inset 0px 0px 0px 1px grey;
        border-radius: 10px;

}

#content {
	width: 1028px;
        height: fit-content ;
        background-color: #fff;
        border: 5px solid #fff;
        border-left: none;
        border-bottom: none;

}

#content2 {
	width: 1028px;
        height: 100%;
        background-color: #fff;
}

#content3{
    width: 1028px;
        height: auto;
        background-color: #fff;
}

#content_column {
    position: fixed;
    margin-top: 60px;
    margin-left: 10px;
    padding: 2%;
     background-color: #fff;  
    background-image: -moz-linear-gradient(top, #fff, lightgrey);
    background-image: -webkit-linear-gradient(top, #fff, lightgrey);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(lightgrey));
    background-image: -ms-linear-gradient(top, #fff lightgrey);
    background-image: -o-linear-gradient(top, #fff, lightgrey);
    background-image: linear-gradient(top, #fff, lightgrey);
    box-shadow: inset 0px 0px 0px 1px grey;
    border-radius: 10px;

}

#cv {
   margin: 20px 20px 20px 20px;
   text-align:  justify;
}


#tabs {
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    width: 480px;
    height:550px;
}


#content_columnsigner{
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    width: 800px;
    height: auto;
    padding: 20px;
     background-color: #fff;  
    background-image: -moz-linear-gradient(top, #fff, lightgrey);
    background-image: -webkit-linear-gradient(top, #fff, lightgrey);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(lightgrey));
    background-image: -ms-linear-gradient(top, #fff lightgrey);
    background-image: -o-linear-gradient(top, #fff, lightgrey);
    background-image: linear-gradient(top, #fff, lightgrey);
    box-shadow: inset 0px 0px 0px 1px grey;
    border-radius: 10px;
}

#content_columnhome th{
    font-size:14px;
}

#content_columnhome td{
    font-size:12px;
}

#content_columnsearch {
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    width: 500px;
    height: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 0px 1px grey;
    border: 2px #000000;
}

#tabs th{
    font-size:14px;
}

#tabs td{
    font-size:12px;
}


#content_body {
        background-color: #fff;
        text-align: justify;
        padding-left: 15%;
        padding-right: 5%;
        padding-top: 1%;
        padding-bottom: 2%
        
}

#content_bar{
    margin-left: 10px;
}


#content_text{
     margin-left: 150px;
}

#content_table1{
    margin-left: 50px;
}

#content_table1 table {
        padding: 10px 20px 10px 20px;
         background-color: #fff;  
        background-image: -moz-linear-gradient(top, #fff, lightgrey);
        background-image: -webkit-linear-gradient(top, #fff, lightgrey);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(lightgrey));
        background-image: -ms-linear-gradient(top, #fff lightgrey);
        background-image: -o-linear-gradient(top, #fff, lightgrey);
        background-image: linear-gradient(top, #fff, lightgrey);
        border-radius: 10px;
        box-shadow: inset 0px 0px 0px 1px grey;


}


#law_table {
        padding: 10px 15px 10px 15px;
}

#law_table table{
        padding: 10px 15px 10px 15px;
        background-color: #fff;
        background-image: -moz-linear-gradient(top, #fff, #fff);
        background-image: -webkit-linear-gradient(top, #fff, #fff);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#fff));
        background-image: -ms-linear-gradient(top, #fff #fff);
        background-image: -o-linear-gradient(top, #fff, #fff);
        background-image: linear-gradient(top, #fff, #fff);
        box-shadow: inset 0px 0px 0px 0px;
        border: 1px solid;

}

#law_table td{
    text-align: center
}

#content_main{
    margin-left: 480px;
    text-align: justify;
    padding: 3%;
    height: auto;
}


#content_main2{
    margin-left: 10px;
    margin-top: 20px;
    text-align: justify;
    height: auto;
}

#content_mainsearch{
    margin-left: 470px;
    text-align: justify;
    padding: 3%;
    height: 650px;
}

#content_advancedsearch{
    width: 500px;
    vertical-align: central;
}

#content_main2{
    text-align: justify;
    padding: 3%
}

#content_body p{
	margin-bottom: 20px;
}

#content_body h4{
	padding: 0px;
	color: #083d4a;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 16px;
        text-align: center;
        
}

#content_body h5{
	padding: 0px;
	color: #083d4a;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 15px;
        text-align: center;
        margin: 0 0 3px 0;
}

#content_body h6{
	margin: 0px;
	padding: 0px;
	color: #083d4a;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 13px;
        text-align: center;
}

#content_body h10{
        font-weight: bold;
	padding: 0px;
	color: #083d4a;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 15px;
        text-align: left;
        margin: 0 0 3px 0;
}

#clear{
     clear: both;
}

.button {
        display: inline-block;
        padding: 10px 55px 10px 55px;
        background-color: #007b9d;
        background-image: -moz-linear-gradient(top, #008dad, #007b9d);
        background-image: -webkit-linear-gradient(top, #008dad, #007b9d);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#008dad), to(#007b9d));
        background-image: -ms-linear-gradient(top, #008dad, #007b9d);
        background-image: -o-linear-gradient(top, #008dad, #007b9d);
        background-image: linear-gradient(top, #008dad, #007b9d);
        border-radius: 10px;
        text-decoration: none;
        color: #fff;
        font-size: 1.2em;
        letter-spacing: -1px;
        border: solid 1px #006e8b;
        box-shadow: inset 0px 0px 0px 1px #18a8c8;
}

.button2 {
        display: inline-block;
        padding: 10px 50px 10px 50px;
        background-color:  darkorange;
        background-image: -moz-linear-gradient(top, darkorange,  sandybrown);
        background-image: -webkit-linear-gradient(top, darkorange,  sandybrown);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(darkorange), to(sandybrown));
        background-image: -ms-linear-gradient(top, darkorange,  sandybrown);
        background-image: -o-linear-gradient(top, darkorange,  sandybrown);
        background-image: linear-gradient(top, darkorange,  sandybrown);
        border-radius: 10px;
        text-decoration: none;
        font-size: 1.2em;
        letter-spacing: -1px;
        border: solid 1px darkorange;
        box-shadow: inset 0px 0px 0px 1px coral;
}

.button21 {
        display: inline-block;
        padding: 10px 43px 10px 43px;
        background-color:  darkorange;
        background-image: -moz-linear-gradient(top, darkorange,  sandybrown);
        background-image: -webkit-linear-gradient(top, darkorange,  sandybrown);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(darkorange), to(sandybrown));
        background-image: -ms-linear-gradient(top, darkorange,  sandybrown);
        background-image: -o-linear-gradient(top, darkorange,  sandybrown);
        background-image: linear-gradient(top, darkorange,  sandybrown);
        border-radius: 10px;
        text-decoration: none;
        font-size: 1.2em;
        letter-spacing: -1px;
        border: solid 1px darkorange;
        box-shadow: inset 0px 0px 0px 1px coral;
}

.button22 {
        display: inline-block;
        padding: 10px 25px 10px 25px;
        background-color:  darkorange;
        background-image: -moz-linear-gradient(top, darkorange,  sandybrown);
        background-image: -webkit-linear-gradient(top, darkorange,  sandybrown);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(darkorange), to(sandybrown));
        background-image: -ms-linear-gradient(top, darkorange,  sandybrown);
        background-image: -o-linear-gradient(top, darkorange,  sandybrown);
        background-image: linear-gradient(top, darkorange,  sandybrown);
        border-radius: 10px;
        text-decoration: none;
        font-size: 1.2em;
        letter-spacing: -1px;
        border: solid 1px darkorange;
        box-shadow: inset 0px 0px 0px 1px coral;
}

.button3 {
        display: inline-block;
        padding: 10px 30px 10px 30px;
        background-color:  darkorange;
        background-image: -moz-linear-gradient(top, darkorange,  sandybrown);
        background-image: -webkit-linear-gradient(top, darkorange,  sandybrown);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(darkorange), to(sandybrown));
        background-image: -ms-linear-gradient(top, darkorange,  sandybrown);
        background-image: -o-linear-gradient(top, darkorange,  sandybrown);
        background-image: linear-gradient(top, darkorange,  sandybrown);
        border-radius: 10px;
        text-decoration: none;
        font-size: 1.2em;
        letter-spacing: -1px;
        border: solid 1px darkorange;
        box-shadow: inset 0px 0px 0px 1px coral;
}

.button2:hover {
        background-color:  orange;
        background-image: -moz-linear-gradient(top, orange, sandybrown);
        background-image: -webkit-linear-gradient(top, orange, sandybrown);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(orange), to(sandybrown));
        background-image: -ms-linear-gradient(top, orange, sandybrown);
        background-image: -o-linear-gradient(top, orange, sandybrown);
        background-image: linear-gradient(top, orange, sandybrown);
        box-shadow: inset 0px 0px 0px 1px orange;
}

.button3:hover {
        background-color:  orange;
        background-image: -moz-linear-gradient(top, orange, sandybrown);
        background-image: -webkit-linear-gradient(top, orange, sandybrown);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(orange), to(sandybrown));
        background-image: -ms-linear-gradient(top, orange, sandybrown);
        background-image: -o-linear-gradient(top, orange, sandybrown);
        background-image: linear-gradient(top, orange, sandybrown);
        box-shadow: inset 0px 0px 0px 1px orange;
}

.button:hover {
        background-color: #118eb1;
        background-image: -moz-linear-gradient(top, #1b9fbe, #118eb1);
        background-image: -webkit-linear-gradient(top, #1b9fbe, #118eb1);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1b9fbe), to(#118eb1));
        background-image: -ms-linear-gradient(top, #1b9fbe, #118eb1);
        background-image: -o-linear-gradient(top, #1b9fbe, #118eb1);
        background-image: linear-gradient(top, #1b9fbe, #118eb1);
        box-shadow: inset 0px 0px 0px 1px #3ecceb;
}

#footer {
	width: 1028px;
	height: 80px;
        text-align: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

#modification {
            background-color: lightgray;
            padding: 5px;
            margin-top: 10px;
            border-radius: 10px;
}

#citations a { 
background:transparent; 
text-decoration:none; 
} 

#citations a:hover{ 
background:transparent; 
text-decoration:underline; 
} 
